<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>HYPE_CCG</title>
	<style>
		html {
			height:100%;
		}
		body {
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=1920" />
	<script type="text/javascript" src="HYPE_CCG.hyperesources/CasparCG.js"></script>

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="hypeccg_hype_container" style="margin:auto;position:relative;width:1920px;height:1080px;overflow:hidden;">
		<script type="text/javascript" charset="utf-8" src="HYPE_CCG.hyperesources/hypeccg_hype_generated_script.js?9411"></script>
		<script type="text/javascript" charset="utf-8" src="HYPE_CCG.hyperesources/CasparCG.js"></script>
	</div>

	<!-- end copy -->
	


	<!-- text content for search engines: -->

	<div style="display:none" aria-hidden=true>

		<div>This is f1</div>
		<div>This is f0</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
